:root {
  font-size: 1em;
}

body {
  background-image: linear-gradient(135deg, #ff6fd8 10%, #3813c2 100%);
  font-family: "PT Sans", sans-serif;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #f3d6d1 0, #ccc8c7, #f3d6d1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b2b2;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5),
    inset -2px -2px 2px rgba(0, 0, 0, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #918f8f;
}

.cv {
  background-color: #ffffff;
}

.cv_s {
  max-width: 900px;
  margin: 0 auto;
}

.header {
}

.header__title {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

.header__subtitle {
}

.cv__aside {
}

.cv__photo {
}

.section {
}

.section__title {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

.section__text {
}

.section__contacts-list {
}

.cv__main {
}

.section__skills-list {
}

.section__code {
  font-family: "Source Code Pro", monospace;
}

.section__list {
}

.footer {
}

.footer__github {
}

.footer__copyright {
}

.footer__rsschool {
}
